/* Reset default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f8;
  color: #333;
  padding: 20px;
}

/* Layout */
.page-wrapper {
  max-width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 30px 20px;
}

.header h4 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 25px;
}

/* Form */
.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 6px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #2563eb;
  outline: none;
}

/* Form Footer */
.form-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button[type="submit"] {
  background-color: #1e3a8a;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #3b82f6;
}
.custom-alert {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  min-width: 300px;
  max-width: 90%;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.3s ease;
  animation: elertAnimate .25s linear;
}
@keyframes elertAnimate{
  0%{
    opacity: 0;
    margin-top: -10px;
  }
  50%{
    opacity: 0.5;
    margin-top: -5px;
  }
  100%{
    opacity: 1;
    margin-top: 0;
  }
} 


.alert-success {
  background-color: #4caf50;
  color: white;
}

.alert-error {
  background-color: #f44336;
  color: white;
}

/* Responsive */
@media (max-width: 480px) {
  .page-wrapper {
    padding: 20px 10px;
  }

  button[type="submit"] {
    width: 100%;
  }
}

  
